<div class="container">
  <div class="col-xs-12">
    <%= simple_form_for(restaurant) do |f| %>
    <div class = "form-group">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :category %>
      <%= f.input :phone_number %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>
