<div class="card">
  <div class="card-header">
      <%= @restaurant.category %>
  </div>
    <div class="card-body">
      <h5 class="card-title"><%= @restaurant.name %> </h5>
      <p class="card-text">Tel: <%= @restaurant.phone_number %> </p>
      <p class="card-text">Address: <%= @restaurant.address %> </p>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li><%= review.content %></li>
        <% end %>
      </ul>
      <a href="#" class="btn btn-primary">Add a review</a>
      <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
  </div>
</div>

